<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                                 http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                                 http://www.springframework.org/schema/security
                                 http://www.springframework.org/schema/security/spring-security-3.2.xsd">
    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/users" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/addUser" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/editUser{userId}" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/deleteUser{userId}" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/artists" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/addArtist" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/editArtist/{id}" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/deleteArtist/{id}" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/artistsList" access="hasRole('ROLE_USER')" />
        <intercept-url pattern="/myBookings" access="hasRole('ROLE_USER')" />
        <intercept-url pattern="/addBooking" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" />
        <intercept-url pattern="/deleteBooking/{id}" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" />
        <intercept-url pattern="/editBooking/{id}" access="hasRole('ROLE_USER')" />
        <access-denied-handler error-page="/403" />
        <form-login login-page="/login"
            default-target-url="/"
            authentication-failure-url="/login?error"
            username-parameter="username"
            password-parameter="password"/>
        <logout logout-success-url="/login?logout" />
        <csrf/>
    </http>
    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"
                   users-by-username-query="select username, password, enabled from users where username=?"
                   authorities-by-username-query="select username, role from users where username =?" />
        </authentication-provider>
    </authentication-manager>
</beans:beans>